doctype html
html(ng-app="tankio")
  head
    title= title
    link(rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='lib/moment.js')
    // Defines moment global
    script.
      moment().format()
    // Defines io global
    script(src='socket.io/socket.io.js')
    script(src='lib/phaser.js')
    script(src='/scripts/objectLib/general.js')
    script(src='/scripts/game/game.js')
  body
    block content
